<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("../partials/head.ejs") %>
  </head>
  <body>
    <%
      //*** This code is copyright 2002-2016 by Gavin Kistner, !@phrogz.net
      //*** It is covered under the license viewable at http://phrogz.net/JS/_ReuseLicense.txt
      //*** Reuse or modification is free provided you abide by the terms of that license.
      //*** (Including the first two lines above in your source code satisfies the conditions.)

      // Include this code (with notice above ;) in your library; read below for how to use it.

      Date.prototype.customFormat = function(formatString){
      var YYYY,YY,MMMM,MMM,MM,M,DDDD,DDD,DD,D,hhhh,hhh,hh,h,mm,m,ss,s,ampm,AMPM,dMod,th;
      var dateObject = this;
      YY = ((YYYY=dateObject.getFullYear())+"").slice(-2);
      MM = (M=dateObject.getMonth()+1)<10?('0'+M):M;
      MMM = (MMMM=["January","February","March","April","May","June","July","August","September","October","November","December"][M-1]).substring(0,3);
      DD = (D=dateObject.getDate())<10?('0'+D):D;
      DDD = (DDDD=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][dateObject.getDay()]).substring(0,3);
      th=(D>=10&&D<=20)?'th':((dMod=D%10)==1)?'st':(dMod==2)?'nd':(dMod==3)?'rd':'th';
      formatString = formatString.replace("#YYYY#",YYYY).replace("#YY#",YY).replace("#MMMM#",MMMM).replace("#MMM#",MMM).replace("#MM#",MM).replace("#M#",M).replace("#DDDD#",DDDD).replace("#DDD#",DDD).replace("#DD#",DD).replace("#D#",D).replace("#th#",th);

      h=(hhh=dateObject.getHours());
      if (h==0) h=24;
      if (h>12) h-=12;
      hh = h<10?('0'+h):h;
      hhhh = hhh<10?('0'+hhh):hhh;
      AMPM=(ampm=hhh<12?'am':'pm').toUpperCase();
      mm=(m=dateObject.getMinutes())<10?('0'+m):m;
      ss=(s=dateObject.getSeconds())<10?('0'+s):s;
      return formatString.replace("#hhhh#",hhhh).replace("#hhh#",hhh).replace("#hh#",hh).replace("#h#",h).replace("#mm#",mm).replace("#m#",m).replace("#ss#",ss).replace("#s#",s).replace("#ampm#",ampm).replace("#AMPM#",AMPM);
      }
    %>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-8 medium-offset-2">
          <!-- Navigation buttons -->
          <p class="div-admin-navigation">
            <a href="<%- sails.config.custom.baseUrl %>a/account?o=a" class="admin-navigation-button"><%- locale.account_add_button %></a>
            <a href="<%- sails.config.custom.baseUrl %>a/account?o=b" class="admin-navigation-button"><%- locale.account_batch_add_button %></a>
          </p>
          <!-- End of navigation buttons -->
          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.account_header %></h4>
          <!-- End of heading -->
          <div class="filters">
            <div class="grid-x">
              <div class="cell small-12 medium-6">
                <div class="filter-text">
                  <input type="text" id="filter-input" placeholder="<%- locale.search %>"></input>
                </div>
              </div>
              <div class="cell small-12 medium-6">
                <div class="filter-buttons">
                  <button id="show-active-button" class="selected"><%- locale.show_active_only %></button>
                  <button id="show-inactive-button"><%- locale.show_inactive_only %></button>
                  <button id="show-all-button"><%- locale.show_all %></button>
                </div>
              </div>
            </div>
          </div>
          <div id="page-table"></div>
        </div>
      </div>
    </div>

    <!-- JQuery script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- End of JQuery script -->

    <!-- Tabulator script -->
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/tabulator.min.js"></script>
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/moment.js"></script>
    <!-- End of tabulator script -->

    <!-- Application scripts -->
    <script>
      var currentActiveFilter = null;
      var currentQueryFilter = null;

      $(document).ready(function() {
        $(".deactivate").on('click', function() {
          var res = confirm("<%- locale.account_deactivate_confirm %>");
          if (res) {
            var target = $(this).closest('tr').find('td.user-name').text();
            var form = $('<form method="POST" action="<%- sails.config.custom.baseUrl %>a/account/deactivate">' +
              '<input type="hidden" name="userName" value="' + target + '" />' +
              '</form>');
            $(document.body).append(form);
            form.submit();
          }
        })

        var tableData = [
          <% for (var i = 0; i < accounts.length; i++) { %>
            {
              name: '<%- accounts[i].name %>',
              user_name: '<%- accounts[i].user_name %>',
              password: '<%- accounts[i].password %>',
              active: '<%- accounts[i].status %>',
              createdAt: '<%- accounts[i].createdAt? new Date(accounts[i].createdAt).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#') : new Date(0).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#'); %>'
            },
          <% } %>
        ]

        var table = new Tabulator('#page-table', {
          index: 'user_name',
          height:($(window).height() - 220),
          data: tableData,
          layout: 'fitColumns',
          rowFormatter:function(row){
            var data = row.getData();
            if(data.active == 'inactive'){
              row.getElement().style.opacity = '0.25';
            }
            else {
              row.getElement().style.opacity = null;
            }
          },
          columns:[
          {title:'<%- locale.time_created %>', field:'createdAt', sorter: 'datetime', width: 150},
          {title:'<%- locale.account_name %>', field:'name', width: 200},
          {title:'<%- locale.account_user_name %>', field:'user_name', width: 120},
          {title:'<%- locale.account_password %>', headerSort: false, field:'password', width: 120},
          {title:'<%- locale.account_active %>', headerSort: false, widthGrow: 1, field:'active',
            formatter: function(cell, formatterParams, onRendered) {
              if (cell._cell.value == 'active') {
                return '<span class="material-icons">radio_button_unchecked</span>'
              }
              else {
                return '<span class="material-icons">clear</span>'
              }
            }},
          {title:'', widthGrow: 1, headerSort: false,
            formatter: function(cell, formatterParams, onRendered) {
              if (cell._cell.row.data.active == 'active') {
                var button = $('<a class="action-button"><%- locale.account_deactivate %></a>');
                button.on('click', function() {
                  if (cell._cell.row.data.active != 'active') return;
                  var res = confirm("<%- locale.account_deactivate_confirm %>");
                  if (res) {
                    var target = cell._cell.row.data.user_name;
                    $.post ('<%- sails.config.custom.baseUrl %>a/account/deactivate',
                      {
                        userName: target
                      },
                      function(data) {
                        if (data.result == 'success') {
                          table.updateData([{user_name: target, active: 'inactive'}]);
                          button.hide();
                          updateFilter();
                        }
                        else {
                          alert('<%- locale.error_occurred %>')
                        }
                      },
                      'json'
                    );
                  }
                })
                return button.get(0);
              }
              else {

              }
            }},
          {title:'', widthGrow: 1, headerSort: false,
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.account_delete %></a>');
              button.on('click', function() {
                var target = cell._cell.row.data.user_name;
                var row = cell._cell.row;
                var res = prompt("<%- locale.account_delete_confirm %>", '');
                if (res == target) {
                  $.post ('<%- sails.config.custom.baseUrl %>a/account/delete',
                    {
                      userName: target
                    },
                    function(data) {
                      if (data.result == 'success') {
                        row.delete();
                      }
                      else {
                        alert('<%- locale.error_occurred %>')
                      }
                    },
                    'json'
                  );
                }
              })
              return button.get(0);
            }}
          ],
        });

        function updateFilter() {
          table.clearFilter();
          if (currentActiveFilter != null) {
            var type = currentActiveFilter;
            if (type == 'active') {
              table.addFilter('active', '=', 'active');
            }
            else if (type == 'inactive') {
              table.addFilter('active', '=', 'inactive');
            }
          }
          if (currentQueryFilter != null) {
            table.addFilter([[{field: 'name', type: 'like', value: currentQueryFilter},
                             {field: 'user_name', type: 'like', value: currentQueryFilter}]])
          }
        }

        function filterActive(type) {
          $('.filter-buttons button').removeClass('selected');
          if (type == 'active') {
            currentActiveFilter = 'active';
            $('#show-active-button').addClass('selected');
          }
          else if (type == 'inactive') {
            currentActiveFilter = 'inactive';
            $('#show-inactive-button').addClass('selected');
          }
          else if (type == 'all') {
            currentActiveFilter = 'all';
            $('#show-all-button').addClass('selected');
          }
        }
        filterActive('active');
        updateFilter();

        $('#show-active-button').on('click', function() {
          filterActive('active');
          updateFilter();
        })
        $('#show-inactive-button').on('click', function() {
          filterActive('inactive');
          updateFilter();
        })
        $('#show-all-button').on('click', function() {
          filterActive('all');
          updateFilter();
        })
        $('#filter-input').on('input', function() {
          currentQueryFilter = $(this).val();
          updateFilter();
        })
      });

      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted ||
                               ( typeof window.performance != "undefined" &&
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      });
    </script>
    <!-- End of application scripts -->
  </body>
</html>
