<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("../partials/head.ejs") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-8 medium-offset-2">
          <!-- Navigation buttons -->
          <p class="div-admin-navigation">
            <a href="<%- sails.config.custom.baseUrl %>a/account" class="admin-navigation-button"><%- locale.back %></a>
          </p>
          <!-- End of navigation buttons -->
          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.account_add %></h4>
          <!-- End of heading -->

          <!-- Add account form -->
          <form id="form-add-account" action="<%- sails.config.custom.baseUrl %>a/account/add" method="post" data-abide novalidate>
            <% if (typeof error !== "undefined") { %>
              <div class="callout alert">
                <p>
                  <%- locale.account_add_error %> <br />
                  <% if (error == 'missing') { %>
                    <%- locale.account_add_error_missing %>
                  <% } else if (error == 'duplicate') { %>
                    <%- locale.account_add_error_duplicate %> <%- details %>
                  <% } else { %>
                    <%- details %>
                  <% } %>
                </p>
              </div>
            <% } %>
            <label><%- locale.account_name %><input type="text" name="name" value="<%- typeof responses !== "undefined" ? responses.name : '' %>" required /> <label>
            <label><%- locale.account_user_name %><input type="text" name="userName" value="<%- typeof responses !== "undefined" ? responses.userName : '' %>" required /> <label>
            <label><%- locale.account_password %><input type="text" name="password" value="<%- typeof responses !== "undefined" ? responses.password : '' %>" required /> <label>
            <p><input id="login-button" type="submit" class="button expanded" value="<%- locale.account_add %>"></input></p>
          </form>
          <!-- End of Account form -->

        </div>
      </div>
    </div>
  </body>
</html>
