<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("../partials/head.ejs") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-8 medium-offset-2">
          <!-- Navigation buttons -->
          <p class="div-admin-navigation">
            <a href="<%- sails.config.custom.baseUrl %>a/account" class="admin-navigation-button"><%- locale.back %></a>
          </p>
          <!-- End of navigation buttons -->
          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.account_add %></h4>
          <p class="page-subheading"><%- locale.account_batch_reminders %></p>
          <!-- End of heading -->

          <!-- Add account form -->
          <form id="form-add-account" action="<%- sails.config.custom.baseUrl %>a/account/batch" method="post" data-abide novalidate>
            <% if (typeof error !== "undefined") { %>
              <div class="callout alert">
                <p>
                  <%- locale.account_add_error %><br />
                  <% if (error == 'missing') { %>
                    <%- locale.account_add_error_missing %>
                  <% } else if (error == 'duplicate') { %>
                    <%- locale.account_add_error_duplicate %> <%- details %>
                  <% } else if (error == 'double') { %>
                    <%- locale.account_add_error_double %> <%- details %>
                  <% } else if (error == 'format') { %>
                    <%- locale.account_add_error_format %> <%- details %>
                  <% } else { %>
                    <%- details %>
                  <% } %>
                </p>
              </div>
            <% } %>
            <label>
              <%- locale.account_batch_specs %>
              <textarea id="account-list-input" name="accountList"><%- typeof responses !== "undefined" ? responses.accountList : '' %></textarea>
            </label>
            <p><input id="login-button" type="submit" class="button expanded" value="<%- locale.account_add %>"></input></p>
          </form>
          <!-- End of Account form -->

        </div>
      </div>
    </div>

    <!-- JQuery script -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<!-- End of JQuery script -->

    <!-- Application scripts -->
    <script>
    $(document).ready(function(){
      $('#account-list-input').attr('placeholder', 'name,user name,password\nname,user name,password\nname,user name,password\n...');
    });
    </script>
    <!-- End of application scripts -->
  </body>
</html>
