<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("../partials/head.ejs") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <%
      //*** This code is copyright 2002-2016 by Gavin Kistner, !@phrogz.net
      //*** It is covered under the license viewable at http://phrogz.net/JS/_ReuseLicense.txt
      //*** Reuse or modification is free provided you abide by the terms of that license.
      //*** (Including the first two lines above in your source code satisfies the conditions.)

      // Include this code (with notice above ;) in your library; read below for how to use it.

      Date.prototype.customFormat = function(formatString){
      var YYYY,YY,MMMM,MMM,MM,M,DDDD,DDD,DD,D,hhhh,hhh,hh,h,mm,m,ss,s,ampm,AMPM,dMod,th;
      var dateObject = this;
      YY = ((YYYY=dateObject.getFullYear())+"").slice(-2);
      MM = (M=dateObject.getMonth()+1)<10?('0'+M):M;
      MMM = (MMMM=["January","February","March","April","May","June","July","August","September","October","November","December"][M-1]).substring(0,3);
      DD = (D=dateObject.getDate())<10?('0'+D):D;
      DDD = (DDDD=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][dateObject.getDay()]).substring(0,3);
      th=(D>=10&&D<=20)?'th':((dMod=D%10)==1)?'st':(dMod==2)?'nd':(dMod==3)?'rd':'th';
      formatString = formatString.replace("#YYYY#",YYYY).replace("#YY#",YY).replace("#MMMM#",MMMM).replace("#MMM#",MMM).replace("#MM#",MM).replace("#M#",M).replace("#DDDD#",DDDD).replace("#DDD#",DDD).replace("#DD#",DD).replace("#D#",D).replace("#th#",th);

      h=(hhh=dateObject.getHours());
      if (h==0) h=24;
      if (h>12) h-=12;
      hh = h<10?('0'+h):h;
      hhhh = hhh<10?('0'+hhh):hhh;
      AMPM=(ampm=hhh<12?'am':'pm').toUpperCase();
      mm=(m=dateObject.getMinutes())<10?('0'+m):m;
      ss=(s=dateObject.getSeconds())<10?('0'+s):s;
      return formatString.replace("#hhhh#",hhhh).replace("#hhh#",hhh).replace("#hh#",hh).replace("#h#",h).replace("#mm#",mm).replace("#m#",m).replace("#ss#",ss).replace("#s#",s).replace("#ampm#",ampm).replace("#AMPM#",AMPM);
      }
    %>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-10 medium-offset-1">
          <!-- Navigation buttons -->
          <p class="div-admin-navigation">
            <a id="download-for-users-checked-button" class="admin-navigation-button download-checked"><%- locale.download_checked %></a>
            <a id="download-for-users-button" class="admin-navigation-button download-raw"><%- locale.download %></a>
            <a id="download-excel-button" class="admin-navigation-button download-excel"><%- locale.download_excel_raw %></a>
            <a href="<%- sails.config.custom.baseUrl %>a/submission?taskId=<%- task.id %>" class="admin-navigation-button"><%- locale.back %></a>
          </p>
          <!-- End of navigation buttons -->
          <!-- Heading -->
          <% if (typeof task !== 'undefined') { %>
            <h4 class="page-heading text-center"><%- locale.submission_header %> - <%- task.title %></h4>
          <% } else if (typeof user !== 'undefined') { %>
            <h4 class="page-heading text-center"><%- locale.submission_header %> - <%- user.user_name %></h4>
          <% } %>
          <!-- End of heading -->

          <div class="grid-x grid-padding-x">
            <!-- Task display -->
            <div class="cell small-12 medium-8">
              <div class="filters">
                <div class="grid-x">
                  <div class="cell small-12 medium-6">
                    <div class="filter-text">
                      <input type="text" id="filter-input" placeholder="<%- locale.search %>"></input>
                    </div>
                  </div>
                  <div class="cell small-12 medium-6">
                    <div class="filter-buttons">
                    </div>
                  </div>
                </div>
              </div>
              <div id="page-table"></div>

            </div>
            <!-- End of task display -->
            <div id="select-user-panel" class="cell small-12 medium-4">
              <p><%- locale.select_user %></p>
              <textarea id="to-download"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="overlay">
      <p><%- locale.checking_wait %> <img src="<%- sails.config.custom.baseUrl %>images/load.gif" /></p>
    </div>

    <!-- JQuery script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- End of JQuery script -->

    <!-- Tabulator script -->
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/tabulator.min.js"></script>
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/moment.js"></script>
    <!-- End of tabulator script -->

    <script>
      var currentQueryFilter = null;
      var currentQueryFilter2 = null;

      $(document).ready(function() {
        $('#to-download').attr('placeholder', 'user_name 1\nuser_name 2\nuser_name 3\nuser_name 4\nuser_name 5\n...')
        $('#to-download').on('input change', function() {
          if ($(this).val().trim() != '') {
            $('#download-for-users-button').css('visibility', 'visible');
            $('#download-for-users-checked-button').css('visibility', 'visible');
            $('#download-excel-button').css('visibility', 'visible');
          }
          else {
            $('#download-for-users-button').css('visibility', 'hidden');
            $('#download-for-users-checked-button').css('visibility', 'hidden');
            $('#download-excel-button').css('visibility', 'hidden');
          }
        });

        $('#download-for-users-button').css('visibility', 'hidden');
        $('#download-for-users-checked-button').css('visibility', 'hidden');
        $('#download-excel-button').css('visibility', 'hidden');

        var tableData = [
          <% for (var i = 0; i < submissions.length; i++) { %>
            {
              id: '<%- submissions[i].id %>',
              user_name: '<%- submissions[i].user != null ? submissions[i].user.user_name : "missing" %>',
              name: '<%- submissions[i].user != null ? submissions[i].user.name : "missing" %>',
              time: '<%- submissions[i].createdAt? new Date(submissions[i].createdAt).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#') : new Date(0).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#'); %>',
            },
          <% } %>
        ];
        var table = new Tabulator('#page-table', {
          index: 'user_name',
          data: tableData,
          height:($(window).height() - 220),
          layout: 'fitColumns',
          columns:[
          {title:'<%- locale.submission_ID %>', field:'id', visible: false},
          {title:'<%- locale.submission_user_name %>', field:'user_name', width: 120},
          {title:'<%- locale.submission_name %>', field:'name', width: 200},
          {title:'<%- locale.submission_time %>', field:'time', sorter: 'datetime', width: 150},
          {title:'', headerSort: false,
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.add_to_list %></a>');
              button.on('click', function() {
                var target = cell._cell.row.data.user_name;
                $('#to-download').val($('#to-download').val().trim())
                $('#to-download').val($('#to-download').val() + '\n' + target);
                $('#to-download').val($('#to-download').val().trim())
                $('#download-for-users-checked-button').css('display', 'inline-block');
                $('#download-for-users-button').css('display', 'inline-block');
                $('#download-excel-button').css('display', 'inline-block');
              });
              return button.get(0);
            }
          }
          ]
        });

        function updateFilter() {
          table.clearFilter();
          if (currentQueryFilter != null) {
            <% if (typeof task !== 'undefined') { %>
              table.addFilter([[{field: 'name', type: 'like', value: currentQueryFilter},
                             {field: 'user_name', type: 'like', value: currentQueryFilter}]])
            <% } else if (typeof user !== 'undefined') { %>
              table.addFilter([[{field: 'title', type: 'like', value: currentQueryFilter}]])
            <% } %>
          }
        }


        $('#filter-input').on('input', function() {
          currentQueryFilter = $(this).val();
          updateFilter();
        })

        function initiateDownload(check) {
          if (check) {
            $('div#overlay').css('visibility', 'visible');
          }
          var fileName = '<%- task.id %>-selected-submissions.json';
          var url = '<%- sails.config.custom.baseUrl %>a/submission/download'
          $.ajax(url, {
            method: 'post',
            data: {
              o: 'ct',
              check: check ? 'yes' : undefined,
              taskId: '<%- task.id %>',
              userList: $('#to-download').val()
            },
            success: function(data) {
              if (check) {
                $('div#overlay').css('visibility', 'hidden');
              }
              if (data.result == 'success') {
                $("<a />", {
                  "download": fileName,
                  "href" : "data:text/json," + encodeURIComponent(JSON.stringify(data.submissions))
                }).appendTo("body")
                .click(function() {
                   $(this).remove()
                })[0].click()
              }
              else {
                alert('<%- locale.error_occurred %>');
              }
            },
            error: function(data) {
              alert('<%- locale.error_occurred %>');
            }
          })
        }

        $('#download-for-users-button').click(function() {
          initiateDownload(false);
        });

        $('#download-for-users-checked-button').click(function() {
          initiateDownload(true);
        })

        $('#download-excel-button').on('click', function() {
          var formString = '<form method="POST" action="<%- sails.config.custom.baseUrl %>a/submission/excel">' +
            '<input type="hidden" name="o" value="ct" />' +
            '<input type="hidden" name="taskId" value="<%- task.id %>" />' +
            '<input type="hidden" name="userList" value="' + $('#to-download').val() + '" />'
          formString += '</form>'
          var form = $(formString);
          $(document.body).append(form);
          form.submit();
        })
      })
    </script>
  </body>
</html>
