<!DOCTYPE HTML>
<html>
  <head>
    <!-- Script for CodeMirror -->
		<script src='<%- sails.config.custom.baseUrl %>js/codemirror.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/clike.js'></script>
		<!-- End of script for CodeMirror -->

    <%- partial('../partials/head.ejs') %>
  </head>
  <body>
    <%
      //*** This code is copyright 2002-2016 by Gavin Kistner, !@phrogz.net
      //*** It is covered under the license viewable at http://phrogz.net/JS/_ReuseLicense.txt
      //*** Reuse or modification is free provided you abide by the terms of that license.
      //*** (Including the first two lines above in your source code satisfies the conditions.)

      // Include this code (with notice above ;) in your library; read below for how to use it.

      Date.prototype.customFormat = function(formatString){
      var YYYY,YY,MMMM,MMM,MM,M,DDDD,DDD,DD,D,hhhh,hhh,hh,h,mm,m,ss,s,ampm,AMPM,dMod,th;
      var dateObject = this;
      YY = ((YYYY=dateObject.getFullYear())+"").slice(-2);
      MM = (M=dateObject.getMonth()+1)<10?('0'+M):M;
      MMM = (MMMM=["January","February","March","April","May","June","July","August","September","October","November","December"][M-1]).substring(0,3);
      DD = (D=dateObject.getDate())<10?('0'+D):D;
      DDD = (DDDD=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][dateObject.getDay()]).substring(0,3);
      th=(D>=10&&D<=20)?'th':((dMod=D%10)==1)?'st':(dMod==2)?'nd':(dMod==3)?'rd':'th';
      formatString = formatString.replace("#YYYY#",YYYY).replace("#YY#",YY).replace("#MMMM#",MMMM).replace("#MMM#",MMM).replace("#MM#",MM).replace("#M#",M).replace("#DDDD#",DDDD).replace("#DDD#",DDD).replace("#DD#",DD).replace("#D#",D).replace("#th#",th);

      h=(hhh=dateObject.getHours());
      if (h==0) h=24;
      if (h>12) h-=12;
      hh = h<10?('0'+h):h;
      hhhh = hhh<10?('0'+hhh):hhh;
      AMPM=(ampm=hhh<12?'am':'pm').toUpperCase();
      mm=(m=dateObject.getMinutes())<10?('0'+m):m;
      ss=(s=dateObject.getSeconds())<10?('0'+s):s;
      return formatString.replace("#hhhh#",hhhh).replace("#hhh#",hhh).replace("#hh#",hh).replace("#h#",h).replace("#mm#",mm).replace("#m#",m).replace("#ss#",ss).replace("#s#",s).replace("#ampm#",ampm).replace("#AMPM#",AMPM);
      }
    %>
    <!-- Top bar -->
    <% if (referrer != 'student-view') { %>
      <div id="top-bar" class="top-bar">
        <div class="top-bar-left">
          <p id="top-bar-account"><%- locale.professor %></p>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
            <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
          </ul>
        </div>
      </div>
    <% } else { %>
      <div id="top-bar" class="top-bar">
        <div class="top-bar-left">
          <p id="top-bar-account"><%- user_name %></p>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
          </ul>
        </div>
      </div>
    <% } %>

    <!-- End of top bar -->

    <div id="div-code" class="grid-container">

      <div class="grid-x">
        <!-- Navigation buttons -->
        <p class="div-admin-navigation small-12 medium-12">
          <% if (referrer == 'task') { %>
            <a href="<%- sails.config.custom.baseUrl %>a/submission?taskId=<%- task.id %>" class="admin-navigation-button"><%- locale.back %></a>
          <% } else if (referrer == 'user') { %>
            <a href="<%- sails.config.custom.baseUrl %>a/submission?userId=<%- user.id %>" class="admin-navigation-button"><%- locale.back %></a>
          <% } else if (referrer == 'student-view') { %>
            <a href="<%- sails.config.custom.baseUrl %>tasks" class="admin-navigation-button"><%- locale.back %></a>
          <% } %>
        </p>
        <!-- End of navigation buttons -->
      </div>
      <div class="grid-x">
        <div class="cell small-12 medium-12">
          <p id="submission-details"><%- locale.submitted_by %> <%- submission.user.name %> (<%- submission.user.user_name %>) - <%- submission.createdAt ? new Date(submission.createdAt).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#') : '' %></p>
        </div>

        <!-- Type: code -->
        <% if (task.type == 'code') { %>
          <!-- Question description -->
          <div id="div-problem-description" class="cell small-12 medium-8 medium-offset-2">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
            </div>
          </div>
          <!-- End of question description -->

          <!-- Coding panel -->
          <div id="div-question-items" class="cell small-12 medium-8 medium-offset-2">
            <!-- Editor panel -->
            <div id="editor">

            </div>
            <!-- End of editor panel -->
          </div>
          <!-- End of coding panel -->
        <% } %>
        <!-- End of type: code -->

        <!-- Type: answer -->
        <% if (task.type == 'answer') { %>
          <!-- Question description -->
          <div id="div-problem-description" class="cell small-12 medium-8 medium-offset-2">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
              <% if (task.code_display.trim() != '') { %>
                <textarea class="code-input" readonly><%- task.code_display %></textarea>
              <% } %>
            </div>
          </div>
          <!-- End of question description -->

          <!-- Question items -->
          <div id="div-question-items" class="cell small-12 medium-8 medium-offset-2">
            <form>
              <% for (var i = 0; i < task.question_texts.length; i++) { %>
                <label><%- task.question_texts[i] %></label>
                <% var choices = task.question_choices[i]; %>
                <% if (choices == 'free') { %>
                  <input type="text" name="response[<%- i %>]" value="" required />
                <% } else { %>
                  <fieldset class="large-5 cell">
                    <% for (var j = 0; j < choices.length; j++) { %>
                      <input type="radio" value="<%- choices[j] %>" name="response[<%- i %>]" required><label for="response[<%- i %>]"><%- choices[j] %></label>
                    <% } %>
                  </fieldset>
                <% } %>
              <% } %>
            </form>
          </div>
          <!-- End of question items -->
        <% } %>
        <!-- End of type: answer -->

        <!-- Type: function -->
        <% if (task.type == 'function') { %>
          <!-- Problem description -->
          <div id="div-problem-description" class="cell small-12 medium-4">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
              <% task.sample_io_to_display = Math.min(task.sample_io_outputs.length, task.sample_io_to_display) %>
              <% if (task.sample_io_to_display != 0) { %>
                <p class="subheading"><%- locale.sample_io %></p>
                <ul>
                  <% for (var i = 0; i < task.sample_io_to_display; i++) { %>
                    <li>
                      <% for (var j = 0; j < task.sample_io_inputs[i].length; j++) { %>
                        <span class="code"><%- task.argument_names[j] %> = <%- task.sample_io_inputs[i][j] %></span>
                        <% if (j != task.sample_io_inputs[i].length - 1) { %>,<% } %>
                      <% } %>
                      <br />
                      <% if (task.return_type != 'void') { %>
                        <%- locale.output %>:
                      <% } else { %>
                        <%- locale.after_calling %> <span class="code"><%- task.for_void %> = </span>
                      <% } %>
                      <span class="code"><%- task.sample_io_outputs[i] %></span>
                    </li>
                  <% } %>
                </ul>
              <% } %>
            </div>
          </div>
          <!-- End of problem description -->

          <!-- Coding panel -->
          <div id="div-coding-panel" class="cell small-12 medium-8">
            <!-- Editor panel -->
            <pre class="code template"><%- task.return_type %> <%- task.function_name %>(<% for (var i = 0; i < task.argument_names.length; i++) { %><%- task.argument_types[i] %> <%- task.argument_names[i] %><% if (i != task.argument_names.length - 1) { %>, <% } %><% } %>) {</pre>
            <div id="editor">

            </div>
            <pre class="code template">}</pre>
            <!-- End of editor panel -->
          </div>
          <!-- End of coding panel -->
        <% } %>
        <!-- End of type: function -->


      </div>
    </div>

    <!-- JQuery script -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<!-- End of JQuery script -->

    <!-- Autosize script -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <!-- End of autosize script -->

    <!-- Application scripts -->
    <script>
      document.editor = CodeMirror(document.getElementById('editor'), {
        mode: 'text/x-java',
        lineNumbers: true,
        theme: 'base16-light'
      });
      function lockEditor() {
        document.editor.setOption('readOnly', true);
        $('.CodeMirror').addClass('locked');
      }
      function unlockEditor() {
        document.editor.setOption('readOnly', false);
        $('.CodeMirror').removeClass('locked');
      }
      $(document).ready(function() {
        autosize(document.querySelector(".code-input"));
        $('input[type="text"]').prop('readonly', true);
        $('input[type="radio"]').attr('disabled', true);

        lockEditor();
        function htmlEntities(str) {
          return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }

        var taskType = '<%- submission.task.type %>';
        if (taskType == 'function') {
          document.editor.setValue('<%- submission.response[0] %>')
        }
        else if (taskType == 'code') {
          document.editor.setValue('<%- submission.response[0] %>')
        }
        else if (taskType == 'answer') {
          var responses = [];
          <% for (var i = 0; i < submission.response.length; i++) { %>
            responses[<%- i %>] = '<%- submission.response[i] %>';
          <% } %>
          var responseCounter = 0;
          $('fieldset, input[type="text"]').each(function() {
            if ($(this).is('input')) {
              $(this).val(responses[responseCounter]);
            }
            else if ($(this).is('fieldset')) {
              $(this).find('input[type="radio"]').each(function() {
                if ($(this).val() == responses[responseCounter]) {
                  $(this).attr('checked', true);
                }
              });
            }
            responseCounter++;
          });
          $('input[type="text"]').prop('readonly', true);
          $('input[type="radio"]').attr('disabled', true);
        }

        $(".deactivate").on('click', function() {
          var res = confirm("<%- locale.task_delete_confirm %>");
          if (res) {
            var target = '<%- task.id %>';
            $.post ('<%- sails.config.custom.baseUrl %>a/task/delete',
              {
                taskId: target
              },
              function(data) {
                if (data.result == 'success') {
                  window.location.href = '<%- sails.config.custom.baseUrl %>a/task';
                }
                else {
                  alert('<%- locale.error_occurred %>')
                }
              },
              'json'
            );

          }
        });
      });
    </script>
    <!-- End of application scripts -->
  </body>
</html>
