<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("../partials/head.ejs") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
      <%
        //*** This code is copyright 2002-2016 by Gavin Kistner, !@phrogz.net
        //*** It is covered under the license viewable at http://phrogz.net/JS/_ReuseLicense.txt
        //*** Reuse or modification is free provided you abide by the terms of that license.
        //*** (Including the first two lines above in your source code satisfies the conditions.)

        // Include this code (with notice above ;) in your library; read below for how to use it.

        Date.prototype.customFormat = function(formatString){
        var YYYY,YY,MMMM,MMM,MM,M,DDDD,DDD,DD,D,hhhh,hhh,hh,h,mm,m,ss,s,ampm,AMPM,dMod,th;
        var dateObject = this;
        YY = ((YYYY=dateObject.getFullYear())+"").slice(-2);
        MM = (M=dateObject.getMonth()+1)<10?('0'+M):M;
        MMM = (MMMM=["January","February","March","April","May","June","July","August","September","October","November","December"][M-1]).substring(0,3);
        DD = (D=dateObject.getDate())<10?('0'+D):D;
        DDD = (DDDD=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][dateObject.getDay()]).substring(0,3);
        th=(D>=10&&D<=20)?'th':((dMod=D%10)==1)?'st':(dMod==2)?'nd':(dMod==3)?'rd':'th';
        formatString = formatString.replace("#YYYY#",YYYY).replace("#YY#",YY).replace("#MMMM#",MMMM).replace("#MMM#",MMM).replace("#MM#",MM).replace("#M#",M).replace("#DDDD#",DDDD).replace("#DDD#",DDD).replace("#DD#",DD).replace("#D#",D).replace("#th#",th);

        h=(hhh=dateObject.getHours());
        if (h==0) h=24;
        if (h>12) h-=12;
        hh = h<10?('0'+h):h;
        hhhh = hhh<10?('0'+hhh):hhh;
        AMPM=(ampm=hhh<12?'am':'pm').toUpperCase();
        mm=(m=dateObject.getMinutes())<10?('0'+m):m;
        ss=(s=dateObject.getSeconds())<10?('0'+s):s;
        return formatString.replace("#hhhh#",hhhh).replace("#hhh#",hhh).replace("#hh#",hh).replace("#h#",h).replace("#mm#",mm).replace("#m#",m).replace("#ss#",ss).replace("#s#",s).replace("#ampm#",ampm).replace("#AMPM#",AMPM);
        }
      %>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-12 medium-12">
          <!-- Navigation buttons -->
          <p class="div-admin-navigation">
            <a id="download-excel-button" class="admin-navigation-button download-excel"><%- locale.download_excel_raw %></a>
            <a id="download-all-button" class="admin-navigation-button download-raw"><%- locale.download_all %></a>
          </p>
          <!-- End of navigation buttons -->
          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.submission_task_list_header %></h4>
          <!-- End of heading -->
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <!-- Main container -->
        <div class="cell small-12 medium-6">
          <div class="filters">
            <div class="grid-x">
              <div class="cell small-12 medium-6">
                <div class="filter-text">
                  <input type="text" id="filter-input" placeholder="<%- locale.search %>"></input>
                </div>
              </div>
              <div class="cell small-12 medium-6">
                <div class="filter-buttons">

                </div>
              </div>
            </div>
          </div>
          <div id="page-table"></div>

        </div>

        <div class="cell small-12 medium-6">
          <div class="filters">
            <div class="grid-x">
              <div class="cell small-12 medium-6">
                <div class="filter-text">
                  <input type="text" id="filter-input-2" placeholder="<%- locale.search %>"></input>
                </div>
              </div>
              <div class="cell small-12 medium-6">
                <div class="filter-buttons">

                </div>
              </div>
            </div>
          </div>
          <div id="page-table-2"></div>

        </div>
      </div>
    </div>

    <!-- JQuery script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- End of JQuery script -->

    <!-- Tabulator script -->
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/tabulator.min.js"></script>
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/moment.js"></script>
    <!-- End of tabulator script -->

    <script>
      var currentQueryFilter = null;
      var currentQueryFilter2 = null;

      $(document).ready(function() {
        var tableData = [
          <% for (var i = 0; i < tasks.length; i++) { %>
            {
              id: '<%- tasks[i].id %>',
              title: '<%- tasks[i].title %>',
              createdAt: '<%- tasks[i].createdAt? new Date(tasks[i].createdAt).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#') : new Date(0).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#'); %>'
            },
          <% } %>
        ]

        var tableData2 = [
          <% for (var i = 0; i < accounts.length; i++) { %>
            {
              id: '<%- accounts[i].id %>',
              user_name: '<%- accounts[i].user_name %>',
              name: '<%- accounts[i].name %>',
              createdAt: '<%- accounts[i].createdAt? new Date(accounts[i].createdAt).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#') : new Date(0).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#'); %>'
            },
          <% } %>
        ]

        console.log($(window).height())

        var table = new Tabulator('#page-table', {
          index: 'id',
          data: tableData,
          height:($(window).height() - 220),
          layout: 'fitColumns',
          columns:[
          {title:'<%- locale.task_id %>', field:'id', visible: false},
          {title:'<%- locale.time_created %>', field:'createdAt', sorter: 'datetime', width: 125},
          {title:'<%- locale.task_title %>', field:'title', width: 320},
          {title:'', headerSort: false,
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.view_submission %></a>');
              button.on('click', function() {
                var target = cell._cell.row.data.id;
                window.location.href = '<%- sails.config.custom.baseUrl %>a/submission?taskId=' + target;
              });
              return button.get(0);
            }
          }
          ]
        });

        var table2 = new Tabulator('#page-table-2', {
          index: 'id',
          data: tableData2,
          height:($(window).height() - 220),
          layout: 'fitColumns',
          columns:[
          {title:'<%- locale.task_id %>', field:'id', visible: false},
          {title:'<%- locale.time_created %>', field:'createdAt', sorter: 'datetime', width: 125},
          {title:'<%- locale.account_name %>', field:'name', width: 160},
          {title:'<%- locale.account_user_name %>', field:'user_name', width: 160},
          {title:'', headerSort: false,
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.view_submission %></a>');
              button.on('click', function() {
                var target = cell._cell.row.data.id;
                window.location.href = '<%- sails.config.custom.baseUrl %>a/submission?userId=' + target;
              });
              return button.get(0);
            }
          }
          ]
        });

        function updateFilter() {
          table.clearFilter();
          if (currentQueryFilter != null) {
            table.addFilter([[{field: 'title', type: 'like', value: currentQueryFilter}]]);
          }
        }


        function updateFilter2() {
          table2.clearFilter();
          if (currentQueryFilter2 != null) {
            table2.addFilter([[{field: 'name', type: 'like', value: currentQueryFilter2},
                             {field: 'user_name', type: 'like', value: currentQueryFilter2}]])
          }
        }

        $('#filter-input').on('input', function() {
          currentQueryFilter = $(this).val();
          updateFilter();
        })

        $('#filter-input-2').on('input', function() {
          currentQueryFilter2 = $(this).val();
          updateFilter2();
        })

        $('#download-all-button').click(function() {
          var fileName = 'all-submissions.json';
          var url = '<%- sails.config.custom.baseUrl %>a/submission/download'
          $.ajax(url, {
            method: 'post',
            data: {
              o: 'a'
            },
            success: function(data) {
              if (data.result == 'success') {
                $("<a />", {
                  "download": fileName,
                  "href" : "data:text/json," + encodeURIComponent(JSON.stringify(data.submissions))
                }).appendTo("body")
                .click(function() {
                   $(this).remove()
                })[0].click()
              }
              else {
                alert('<%- locale.error_occurred %>');
              }
            },
            error: function(data) {
              alert('<%- locale.error_occurred %>');
            }
          })
        });

        $('#download-excel-button').on('click', function() {
          var formString = '<form method="POST" action="<%- sails.config.custom.baseUrl %>a/submission/excel">' +
            '<input type="hidden" name="o" value="a" />';
          formString += '</form>'
          var form = $(formString);
          $(document.body).append(form);
          form.submit();
        })
      })
    </script>
  </body>
</html>
