<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("./partials/head.ejs") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-6 medium-offset-3">

          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.admin_menu %></h4>
          <!-- End of heading -->

          <!-- Menu -->
          <ul class="admin-menu">
            <li><a class='admin-menu-link' href='<%- sails.config.custom.baseUrl %>a/account'><%- locale.manage_accounts %></a></li>
            <li><a class='admin-menu-link' href='<%- sails.config.custom.baseUrl %>a/task'><%- locale.manage_tasks %></a></li>
            <li><a class='admin-menu-link' href='<%- sails.config.custom.baseUrl %>a/submission'><%- locale.manage_submissions %></a></li>
          </ul>
          <!-- End of menu -->

        </div>
      </div>
    </div>
  </body>
</html>
