<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("./partials/head.ejs") %>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-6 medium-offset-3">
          <h4 id="login-header" class="text-center"><%- locale.faculty_login_header %></h4>
          <!-- Login form -->
          <form id="form-login" class="login-form" action="<%- sails.config.custom.baseUrl %>flgn" method="post" data-abide novalidate>
            <!-- Login error message -->
            <% if (typeof error !== "undefined") { %>
							<div class="callout alert"><p><%- locale.invalid_login %></p></div>
						<% } %>
            <!-- End of login error message -->
            <label><%- locale.user_name %><input id="input-user-name" type="text" name="userName" placeholder="" required /></label>
            <label><%- locale.password %><input id="input-password" type="password" name="password" placeholder="Password" required /></label>
            <input id="input-show-password" type="checkbox"><label for="show-password"><%- locale.show_password %></label>
            <p><input id="login-button" type="submit" class="button expanded" value="<%- locale.login %>"></input></p>
          </form>
          <p class="text-center"><a href="<%- sails.config.custom.baseUrl%>login"><%- locale.student_redirect %></a></p>
          <!-- End of login form -->
        </div>
        <!-- End of main container -->
      </div>
    </div>

    <!-- JQuery script -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <!-- End of JQuery script -->

    <!-- Foundation scripts -->
    <script src='<%- sails.config.custom.baseUrl %>js/what-input.js'></script>
    <script src='<%- sails.config.custom.baseUrl %>js/foundation.min.js'></script>
    <!-- End of Foundation scripts -->

    <!-- Application scripts -->
		<script>
		$(document).ready(function() {
			$('#input-show-password').change(function() {
				if ($(this).is(':checked')) $('#input-password').attr('type', 'text');
				else $('#input-password').attr('type', 'password');
			});
		});
		</script>
		<!-- End of application scripts -->
  </body>
</html>
