<!DOCTYPE HTML>
<html>
  <head>
    <!-- Script for CodeMirror -->
		<script src='<%- sails.config.custom.baseUrl %>js/codemirror.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/clike.js'></script>
		<!-- End of script for CodeMirror -->

    <%- partial('./partials/head.ejs') %>
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- user_name %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>tasks'><%- locale.back_to_tasks %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div id="div-code" class="grid-container">

      <div class="grid-x">

        <!-- Type: code -->
        <% if (task.type == 'code') { %>
          <!-- Question description -->
          <div id="div-problem-description" class="cell small-12 medium-8 medium-offset-2">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
            </div>
          </div>
          <!-- End of question description -->

          <!-- Coding panel -->
          <div id="div-question-items" class="cell small-12 medium-8 medium-offset-2">
            <!-- Editor panel -->
            <div id="editor">

            </div>
            <!-- End of editor panel -->

            <!-- Control panel -->
            <div id="div-control-panel">
              <div id="div-before-submit">
                <a class="test-panel-button" id="submit-button" href="#"><%- submission? locale.resubmit_code : locale.submit_code %></a>
              </div>
              <div id="div-confirm-submit">
                <p>
                  <%- locale.submit_confirm %><br />
                  <a id="submit-yes-button" href="#"><%- locale.submit_yes %></a>
                  <a id="submit-no-button" href="#"><%- locale.submit_no %></a>
                </p>
              </div>
              <% if (submission) { %>
                <div id="div-already-submit">
                  <p id="already-submit"><%- locale.already_submit %></p>
                </div>
                <p id="back-to-tasks"><a href="<%- sails.config.custom.baseUrl %>tasks"><%- locale.back_to_tasks %></a></p>
              <% } %>
            </div>
            <!-- End of control panel -->
          </div>
          <!-- End of coding panel -->
        <% } %>
        <!-- End of type: code -->

        <!-- Type: answer -->
        <% if (task.type == 'answer') { %>
          <!-- Question description -->
          <div id="div-problem-description" class="cell small-12 medium-8 medium-offset-2">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
              <% if (task.code_display.trim() != '') { %>
                <textarea class="code-input" readonly><%- task.code_display %></textarea>
              <% } %>
            </div>
          </div>
          <!-- End of question description -->

          <!-- Question items -->
          <div id="div-question-items" class="cell small-12 medium-8 medium-offset-2">
            <form>
              <% for (var i = 0; i < task.question_texts.length; i++) { %>
                <label><%- task.question_texts[i] %></label>
                <% var choices = task.question_choices[i]; %>
                <% if (choices == 'free') { %>
                  <input type="text" name="response[<%- i %>]" value="" required />
                <% } else { %>
                  <fieldset class="large-5 cell">
                    <% for (var j = 0; j < choices.length; j++) { %>
                      <input type="radio" value="<%- choices[j] %>" name="response[<%- i %>]" required><label for="response[<%- i %>]"><%- choices[j] %></label>
                    <% } %>
                  </fieldset>
                <% } %>
              <% } %>
            </form>
          </div>
          <!-- End of question items -->

          <!-- Control panel -->
          <div id="div-question-items" class="cell small-12 medium-8 medium-offset-2">
            <div id="div-control-panel">
              <div id="div-before-submit">
                <a class="test-panel-button" id="submit-button" href="#"><%- submission? locale.resubmit_code : locale.submit_code %></a>
              </div>
              <div id="div-confirm-submit">
                <p>
                  <%- locale.submit_confirm %><br />
                  <a id="submit-yes-button" href="#"><%- locale.submit_yes %></a>
                  <a id="submit-no-button" href="#"><%- locale.submit_no %></a>
                </p>
              </div>
              <% if (submission) { %>
                <div id="div-already-submit">
                  <p id="already-submit"><%- locale.already_submit %></p>
                </div>
                <p id="back-to-tasks"><a href="<%- sails.config.custom.baseUrl %>tasks"><%- locale.back_to_tasks %></a></p>
              <% } %>
            </div>
          </div>
          <!-- End of control panel -->
        <% } %>
        <!-- End of type: answer -->

        <!-- Type: function -->
        <% if (task.type == 'function') { %>
          <!-- Problem description -->
          <div id="div-problem-description" class="cell small-12 medium-4">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
              <% task.sample_io_to_display = Math.min(task.sample_io_outputs.length, task.sample_io_to_display) %>
              <% if (task.sample_io_to_display != 0) { %>
                <p class="subheading"><%- locale.sample_io %></p>
                <ul>
                  <% for (var i = 0; i < task.sample_io_to_display; i++) { %>
                    <li>
                      <% for (var j = 0; j < task.sample_io_inputs[i].length; j++) { %>
                        <span class="code"><%- task.argument_names[j] %> = <%- task.sample_io_inputs[i][j] %></span>
                        <% if (j != task.sample_io_inputs[i].length - 1) { %>,<% } %>
                      <% } %>
                      <br />
                      <% if (task.return_type != 'void') { %>
                        <%- locale.output %>:
                      <% } else { %>
                        <%- locale.after_calling %> <span class="code"><%- task.for_void %> = </spam>
                      <% } %>
                      <span class="code"><%- task.sample_io_outputs[i] %></span>
                    </li>
                  <% } %>
                </ul>
              <% } %>
            </div>
          </div>
          <!-- End of problem description -->

          <!-- Coding panel -->
          <div id="div-coding-panel" class="cell small-12 medium-8">
            <!-- Editor panel -->
            <pre class="code template"><%- task.return_type %> <%- task.function_name %>(<% for (var i = 0; i < task.argument_names.length; i++) { %><%- task.argument_types[i] %> <%- task.argument_names[i] %><% if (i != task.argument_names.length - 1) { %>, <% } %><% } %>) {</pre>
            <div id="editor">

            </div>
            <pre class="code template">}</pre>
            <!-- End of editor panel -->

            <!-- Control panel -->
            <div id="div-control-panel">
              <div id="div-before-submit">
                <a class="test-panel-button" id="submit-button" href="#"><%- submission? locale.resubmit_code : locale.submit_code %></a>
              </div>
              <div id="div-confirm-submit">
                <p>
                  <%- locale.submit_confirm %><br />
                  <a id="submit-yes-button" href="#"><%- locale.submit_yes %></a>
                  <a id="submit-no-button" href="#"><%- locale.submit_no %></a>
                </p>
              </div>
              <% if (submission) { %>
                <div id="div-already-submit">
                  <p id="already-submit"><%- locale.already_submit %></p>
                </div>
                <p id="back-to-tasks"><a href="<%- sails.config.custom.baseUrl %>tasks"><%- locale.back_to_tasks %></a></p>
              <% } %>
            </div>
            <!-- End of control panel -->
          </div>
          <!-- End of coding panel -->
        <% } %>
        <!-- End of type: function -->
      </div>
    </div>

    <!-- JQuery script -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<!-- End of JQuery script -->

    <!-- Autosize script -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <!-- End of autosize script -->

    <!-- Application scripts -->
    <script>
      var taskType = "<%- task.type %>";
      function checkSubmissionValidity() {
        function validate() {
          $('#div-before-submit').css('display', 'block');
          $('#div-confirm-submit').css('display', 'none');
        }
        function invalidate() {
          $('#div-before-submit').css('display', 'none');
          $('#div-confirm-submit').css('display', 'none');
        }

        if (taskType == 'answer') {
          var passed = true;
          $('fieldset').each(function() {
            if ($(this).find('input[type="radio"]:checked').length != 1) {
              passed = false;
            }
          });
          $('input[type="text"]').each(function() {
            if ($(this).val().trim() == '') {
              passed = false;
            }
          });
          if (passed) {
            validate();
          }
          else {
            invalidate();
          }
        }
        else if (taskType == 'function' || taskType == 'code') {
          if (document.editor.getValue().trim() == '') {
            invalidate();
          }
          else {
            validate();
          }
        }
      }

      function htmlEntities(str) {
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
      }

      function submitAnswers() {
        if (taskType == 'answer') {
          var responses = [];
          $('fieldset, input[type="text"]').each(function() {
            if ($(this).is('fieldset')) {
              var res = $(this).find('input[type="radio"]:checked').val().trim();
              responses.push(res);
            }
            else if ($(this).is('input')) {
              var res = $(this).val().trim();
              responses.push(res);
            }
          });
          var formString = '<form method="POST" action="<%- sails.config.custom.baseUrl %>submit">' +
            '<input type="hidden" name="userName" value="' + "<%- user_name %>" + '" />' +
            '<input type="hidden" name="taskId" value="' + "<%- task.id %>" + '" />';
          for (var i = 0; i < responses.length; i++) {
            formString += '<input type="hidden" name="response[' + i + ']" value="' + htmlEntities(responses[i]) + '" />';
          }
          formString += '</form>';
          var form = $(formString);
          $(document.body).append(form);
          form.submit();
        }
        else if (taskType == 'function' || taskType == 'code') {
          var form = $('<form method="POST" action="<%- sails.config.custom.baseUrl %>submit">' +
            '<input type="hidden" name="userName" value="' + "<%- user_name %>" + '" />' +
            '<input type="hidden" name="taskId" value="' + "<%- task.id %>" + '" />' +
            '<input type="hidden" name="response[0]" value="' + htmlEntities(document.editor.getValue()) + '" />' +
            '</form>');
          $(document.body).append(form);
          form.submit();
        }
      }


      document.editor = CodeMirror(document.getElementById('editor'), {
        mode: 'text/x-java',
        lineNumbers: true,
        theme: 'base16-light'
      });
      checkSubmissionValidity();
      document.editor.on('change', function(instance, changeObj) {
        checkSubmissionValidity();
      });
      $('input').on('change, input', function() {
        checkSubmissionValidity();
      });
      function lockEditor() {
        document.editor.setOption('readOnly', true);
        $('.CodeMirror').addClass('locked');
      }
      function unlockEditor() {
        document.editor.setOption('readOnly', false);
        $('.CodeMirror').removeClass('locked');
      }
      $(document).ready(function() {
        <% if (task.type == 'code' || task.type == 'function') { %>
          document.editor.setValue(`<%- task.default_code %>`)
        <% } %>
        autosize(document.querySelector(".code-input"));
        $('#submit-button').on('click', function() {
          lockEditor();
          $('#div-confirm-submit').css('display', 'block');
          $('#div-before-submit').css('display', 'none');
        });
        $('#submit-no-button').on('click', function() {
          unlockEditor();
          $('#div-before-submit').css('display', 'block');
          $('#div-confirm-submit').css('display', 'none');
        });
        $('#submit-yes-button').on('click', function() {
          submitAnswers();
        });
        <% if (submission) { %>
          if (taskType == 'answer') {
            var responses = [];
            <% for (var i = 0; i < submission.response.length; i++) { %>
              responses[<%- i %>] = '<%- submission.response[i] %>';
            <% } %>
            var responseCounter = 0;
            $('fieldset, input[type="text"]').each(function() {
              if ($(this).is('input')) {
                $(this).val(responses[responseCounter]);
              }
              else if ($(this).is('fieldset')) {
                $(this).find('input[type="radio"]').each(function() {
                  if ($(this).val() == responses[responseCounter]) {
                    $(this).attr('checked', true);
                  }
                });
              }
              responseCounter++;
            });
          }
          else if (taskType == 'function') {
            document.editor.setValue('<%- submission.response[0] %>');
          }
          else if (taskType == 'code') {
            document.editor.setValue('<%- submission.response[0] %>');
          }
        <% } %>
        $('#div-before-submit').css('display', 'none');
      });
    </script>
    <!-- End of application scripts -->
  </body>
</html>
