<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("./partials/head.ejs") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- user_name %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>tasks'><%- locale.back_to_tasks %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div id="submit-panel" class="cell small-12 medium-8 medium-offset-2">
          <!-- Message -->
          <% if (type == 'submission-successful') { %>
            <h4 id="submit-header" class="text-center"><%- locale.submission_successful_header %></h4></
            <p><a href="<%- sails.config.custom.baseUrl %>tasks"><%- locale.back_to_tasks %></a></p>
            <p><a href="<%- sails.config.custom.baseUrl %>solve?id=<%- taskRef %>"><%- locale.view_submission %></a></p>
          <% } else if (type == 'problem-not-available') { %>
            <h4 id="submit-header" class="text-center"><%- locale.problem_not_available_header %></h4>
            <p><%- locale.problem_not_available_text %></p>
          <% } else if (type == 'submission-already-exists') { %>
            <h4 id="submit-header" class="text-center"><%- locale.submission_already_exists_header %></h4>
            <p><%- locale.submission_already_exists_text %></p>
          <% } else if (type == 'submission-error') { %>
            <h4 id="submit-header" class="text-center"><%- locale.submission_error_header %></h4>
            <p><%- locale.submission_error_text %></p>
          <% } %>
          <!-- End of message -->

        </div>
      </div>
    </div>
  </body>
</html>
