<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("./partials/head.ejs") %>
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- user_name %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <!-- Main container -->
        <div class="cell small-12 medium-8">
          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.tasks_header %></h4>
          <!-- End of heading -->
          <div id="page-table"></div>
        </div>
        <% if (pastVisible) { %>
          <div class="cell small-12 medium-4">
            <!-- Heading -->
            <h4 class="page-heading text-center"><%- locale.past_tasks_header %></h4>
            <!-- End of heading -->
            <div id="page-table-2"></div>
          </div>
        <% } %>
      </div>
    </div>

    <!-- JQuery script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- End of JQuery script -->

    <!-- Tabulator script -->
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/tabulator.min.js"></script>
    <!-- End of tabulator script -->

    <!-- Application scripts -->
    <script>
      $(document).ready(function() {
        var tableData = [
          <% for (var i = 0; i < tasks.length; i++) { %>
            {
              id: '<%- tasks[i].id %>',
              title: '<%- tasks[i].title %>',
              submitted: '<% if (submittedTasks.indexOf(tasks[i].id.toString()) == -1) { %>no<% } else { %>yes<% } %>'
            },
          <% } %>
        ]

        var tableData2 = [
          <% for (var i = 0; i < submissions.length; i++) { %>
            {
              id: '<%- submissions[i].id %>',
              title: '<%- submissions[i].task.title %>'
            },
          <% } %>
        ]

        var table = new Tabulator('#page-table', {
          index: 'id',
          data: tableData,
          height:($(window).height() - 220),
          layout: 'fitColumns',
          rowFormatter:function(row){
            var data = row.getData();
            if(data.submitted == 'yes'){
              row.getElement().style.background = '#ebff99';
            }
            else {
              row.getElement().style.background = null;
            }
          },
          columns:[
          {title:'<%- locale.task_id %>', field:'id', visible: false},
          {title:'<%- locale.task_title %>', field:'title'},
          {title:'<%- locale.task_submitted %>', field:'submitted',
          formatter: function(cell, formatterParams, onRendered) {
            if (cell._cell.value == 'yes') {
              return '<span class="material-icons">radio_button_unchecked</span>'
            }
            else {
              return ''
            }
          }},
          {title:'', headerSort: false,
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.answer %></a>');
              button.on('click', function() {
                var id = cell._cell.row.data.id;
                window.location.href = '<%- sails.config.custom.baseUrl %>solve?id=' + id;
              });
              return button.get(0);
            }
          }
          ]
        });

        var table2 = new Tabulator('#page-table-2', {
          index: 'id',
          data: tableData2,
          height:($(window).height() - 220),
          layout: 'fitColumns',
          columns:[
          {title:'<%- locale.task_id %>', field:'id', visible: false},
          {title:'<%- locale.task_title %>', field:'title'},
          {title:'', headerSort: false,
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.view_submission %></a>');
              button.on('click', function() {
                var id = cell._cell.row.data.id;
                window.location.href = '<%- sails.config.custom.baseUrl %>past?submissionId=' + id;
              });
              return button.get(0);
            }
          }
          ]
        });
      });
    </script>
    <!-- ENd of application scripts -->
  </body>
</html>
