<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("../partials/head.ejs") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-12 relative-container">
          <!-- Navigation buttons -->
          <p class="div-admin-navigation">
            <% if (typeof task !== "undefined") { %>
              <a href="<%- sails.config.custom.baseUrl %>a/task?o=e&taskId=<%- task.id %>" class="admin-navigation-button floater"><%- locale.back %></a>
            <% } else { %>
              <a href="<%- sails.config.custom.baseUrl %>a/task" class="admin-navigation-button floater"><%- locale.back %></a>
            <% } %>
          </p>
          <!-- End of navigation buttons -->
          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.task_add %></h4>
          <!-- End of heading -->

          <!-- Add account form -->
          <form id="form-add-task" action="<%- sails.config.custom.baseUrl %>a/task/add<%- typeof task !== "undefined" ? '?taskId=' + task.id : '' %>" method="post" data-abide novalidate>
            <% if (typeof error !== "undefined" && error.length > 0) { %>
              <div class="callout alert"><p><%- error[0] %>: <%- locale['task_add_error_' + error[0].toLowerCase()] %></p></div>
            <% } %>
            <div class="grid-x grid-padding-x">
              <div class="cell small-12 medium-12">
                <label><%- locale.task_type %>
                  <select id="task-type-selector" name="taskType">
                    <option value="code" <%- (typeof responses !== 'undefined' && responses.taskType == 'code') ? 'selected' : '' %>><%- locale.task_type_code %></option>
                    <option value="answer" <%- (typeof responses !== 'undefined' && responses.taskType == 'answer') ? 'selected' : '' %>><%- locale.task_type_answer %></option>
                    <option value="function" <%- (typeof responses !== 'undefined' && responses.taskType == 'function') ? 'selected' : '' %>><%- locale.task_type_function %></option>
                  </select>
                </label>
              </div>
            </div>

            <div id="slot">

            </div>

            <div class="grid-x grid-padding-x">
              <div class="cell small-12 medium-12">
                <p><input id="login-button" type="submit" class="button expanded" value="<%- typeof task !== "undefined" ? locale.task_edit : locale.task_add %>"></input></p>
              </div>
            </div>
          </form>
          <!-- End of Account form -->

        </div>
      </div>
    </div>

    <!-- Type: code template -->
    <div class="template code">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-6">
          <label><%- locale.task_title %><input type="text" name="title" value="<%- (typeof responses !== 'undefined')?responses.title:'' %>" required /> </label>
          <label>
            <%- locale.task_specification %>
            <textarea id="task-specification-input" name="specification"><%- (typeof responses !== 'undefined')?responses.specification:'' %></textarea>
          </label>
        </div>
        <div class="cell small-12 medium-6">
          <label>
            <%- locale.task_default_code %>
            <textarea id="task-default-code" class="code-input" name="defaultCode"><%- (typeof responses !== 'undefined')?responses.defaultCode:'' %></textarea>
          </label>
        </div>
      </div>
    </div>
    <!-- End of type: template -->

    <!-- Type: answer template -->
    <div class="template answer">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-4">
          <label><%- locale.task_title %><input type="text" name="title" value="<%- (typeof responses !== 'undefined')?responses.title:'' %>" required /> </label>
          <label>
            <%- locale.task_specification %>
            <textarea id="task-specification-input" name="specification"><%- (typeof responses !== 'undefined')?responses.specification:'' %></textarea>
          </label>
        </div>
        <div class="cell small-12 medium-8">
          <label>
            <%- locale.task_code %>
            <textarea id="task-code-input" class="code-input" name="codeDisplay"><%- (typeof responses !== 'undefined')?responses.codeDisplay:'' %></textarea>
          </label>
          <div class="grid-x grid-padding-x">
            <div class="cell small-4 medium-4">
              <label for="questionText"><%- locale.question_text %></label>
            </div>
            <div class="cell small-4 medium-4">
              <label for="questionChoices"><%- locale.question_choices %></label>
            </div>
            <div class="cell small-4 medium-4">
              <label for="questionAnswer"><%- locale.question_answer %></label>
            </div>
            <div class="cell small-4 medium-4">
              <input type="text" name="questionText" value="<%- (typeof responses !== 'undefined' && typeof responses.questionText !== 'undefined' && responses.questionText[0])?responses.questionText[0]:'' %>" required />
              <input type="text" name="questionText" value="<%- (typeof responses !== 'undefined' && typeof responses.questionText !== 'undefined' && responses.questionText[1])?responses.questionText[1]:'' %>" required />
              <input type="text" name="questionText" value="<%- (typeof responses !== 'undefined' && typeof responses.questionText !== 'undefined' && responses.questionText[2])?responses.questionText[2]:'' %>" required />
              <input type="text" name="questionText" value="<%- (typeof responses !== 'undefined' && typeof responses.questionText !== 'undefined' && responses.questionText[3])?responses.questionText[3]:'' %>" required />
            </div>
            <div class="cell small-4 medium-4">
              <input type="text" name="questionChoices" value="<%- (typeof responses !== 'undefined' && typeof responses.questionChoices !== 'undefined' && responses.questionChoices[0])?responses.questionChoices[0]:'' %>" required />
              <input type="text" name="questionChoices" value="<%- (typeof responses !== 'undefined' && typeof responses.questionChoices !== 'undefined' && responses.questionChoices[1])?responses.questionChoices[1]:'' %>" required />
              <input type="text" name="questionChoices" value="<%- (typeof responses !== 'undefined' && typeof responses.questionChoices !== 'undefined' && responses.questionChoices[2])?responses.questionChoices[2]:'' %>" required />
              <input type="text" name="questionChoices" value="<%- (typeof responses !== 'undefined' && typeof responses.questionChoices !== 'undefined' && responses.questionChoices[3])?responses.questionChoices[3]:'' %>" required />
            </div>
            <div class="cell small-4 medium-4">
              <input type="text" name="questionAnswer" value="<%- (typeof responses !== 'undefined' && typeof responses.questionAnswer !== 'undefined' &&  responses.questionAnswer[0])?responses.questionAnswer[0]:'' %>" required />
              <input type="text" name="questionAnswer" value="<%- (typeof responses !== 'undefined' && typeof responses.questionAnswer !== 'undefined' &&  responses.questionAnswer[1])?responses.questionAnswer[1]:'' %>" required />
              <input type="text" name="questionAnswer" value="<%- (typeof responses !== 'undefined' && typeof responses.questionAnswer !== 'undefined' &&  responses.questionAnswer[2])?responses.questionAnswer[2]:'' %>" required />
              <input type="text" name="questionAnswer" value="<%- (typeof responses !== 'undefined' && typeof responses.questionAnswer !== 'undefined' &&  responses.questionAnswer[3])?responses.questionAnswer[3]:'' %>" required />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of type: answer template -->

    <!-- Type: function template -->
    <div class="template function">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-3">
          <label><%- locale.task_title %><input type="text" name="title" value="<%- (typeof responses !== 'undefined')?responses.title:'' %>" required /> </label>
          <label>

            <%- locale.task_specification %>
            <textarea id="task-specification-input" name="specification"><%- (typeof responses !== 'undefined')?responses.specification:'' %></textarea>
          </label>
        </div>
        <div class="cell small-12 medium-3">
          <!-- Problem type: Complete the function -->
          <label><%- locale.function_name %><input type="text" name="functionName" value="<%- (typeof responses !== 'undefined')?responses.functionName:'' %>" placeholder="my_add" required /> </label>
          <div class="grid-x grid-padding-x">
            <div class="cell small-5 medium-5">
              <label><%- locale.return_type %><input type="text" name="returnType" value="<%- (typeof responses !== 'undefined')?responses.returnType:'' %>" placeholder="int" required /> </label>
            </div>
            <div class="cell small-7 medium-7">
              <label><%- locale.for_void %><input type="text" name="forVoid" value="<%- (typeof responses !== 'undefined')?responses.forVoid:'' %>" placeholder="" required /> </label>
            </div>
          </div>
          <label><%- locale.parameter_types %><input type="text" name="parameterTypes" value="<%- (typeof responses !== 'undefined')?responses.parameterTypes:'' %>" placeholder="int,int" required /> </label>
          <label><%- locale.parameter_names %><input type="text" name="parameterNames" value="<%- (typeof responses !== 'undefined')?responses.parameterNames:'' %>" placeholder="m,n" required /> </label>
          <!-- End of problem type: compelte the function -->
        </div>
        <div class="cell small-12 medium-3">
          <label>
            <%- locale.task_default_code %>
            <textarea id="task-default-code" class="code-input" name="defaultCode"><%- (typeof responses !== 'undefined')?responses.defaultCode:'' %></textarea>
          </label>
        </div>
        <div class="cell small-12 medium-3">
          <!-- Problem type: Complete the function -->
          <label>
            <%- locale.test_cases %>
            <textarea id="function-test-cases-input" name="testCases"><%- (typeof responses !== 'undefined')? responses.testCases:'' %></textarea>
          </label>
          <label><%- locale.show_top_n_cases_as_sample_io %><input type="number" name="numberOfSample" min="0" value="<%- (typeof responses !== 'undefined') ? (typeof responses.numberOfSample === 'undefined' ? 0 : responses.numberOfSample) : 0 %>" required /></label>
          <!-- End of problem type: compelte the function -->
        </div>
      </div>
    </div>
    <!-- End of type: function template -->

    <!-- JQuery script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- End of JQuery script -->

    <!-- Autosize script -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <!-- End of autosize script -->

    <!-- Application scripts -->
    <script>
    function populateForm(type) {
      if (type == 'function') {
        $('input[name="title"]').attr('placeholder', 'Category 4-1');
        $('#task-specification-input').attr('placeholder', '⼆つの整数値を与えると与えた⼆つの数を⾜した値（和）を返り値として返す関数`int my add(int m, int n)`` を定義しなさい。');
        $('#function-test-cases-input').attr('placeholder', '4,5,9\n1,1,2\n10,5,15\n6,3,9\n...');
      }
      else if (type == 'answer') {
        $('input[name="title"]').attr('placeholder', 'Category 2-1');
        $('#task-specification-input').attr('placeholder', '以下の変数宣言は、工ラーを発生するかという質問に、「はい」または「いいえ」で答えなさい。');
        $('#task-code-input').attr('placeholder', 'int tni;');
        $('input[name="questionText"]').first().attr('placeholder', 'エラーが発生するか？');
        $('input[name="questionChoices"]').first().attr('placeholder', 'はい,いいえ');
        $('input[name="questionAnswer"]').first().attr('placeholder', 'いいえ');
      }
      else if (type == 'code') {
        $('input[name="title"]').attr('placeholder', 'Category 1-1');
        $('#task-specification-input').attr('placeholder', 'ウィンドウの大きさに関わらず、ウィンドウを縦と横の二つの直線で4等分し、4つの四角形に分けるようなプログラムを、二行で記述はさい。（出力される直線の色は問わない）');
      }
    }

    function overrideTab() {
      var textareas = document.getElementsByTagName('textarea');
      var count = textareas.length;
      for(var i=0;i<count;i++){
        textareas[i].onkeydown = function(e){
          if(e.keyCode==9 || e.which==9){
            e.preventDefault();
            var s = this.selectionStart;
            this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
            this.selectionEnd = s+1;
          }
        }
      }
    }

    function updateForm(type) {
      $('div#slot').html("");
      var target = $('.template.' + type).html();
      if (target) {
        $('div#slot').html(target);
      }
      populateForm(type);
      autosize(document.querySelector(".code-input"));
      overrideTab();
    }

    $(document).ready(function(){
      updateForm($('#task-type-selector').val());
      $('#task-type-selector').on('change', function() {
        updateForm($(this).val());
      });
    });
    </script>
    <!-- End of application scripts -->
  </body>
</html>
