<!DOCTYPE HTML>
<html>
  <head>
    <!-- Script for CodeMirror -->
		<script src='<%- sails.config.custom.baseUrl %>js/codemirror.js'></script>
		<script src='<%- sails.config.custom.baseUrl %>js/clike.js'></script>
		<!-- End of script for CodeMirror -->

    <%- partial('../partials/head.ejs') %>
  </head>
  <body>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div id="div-code" class="grid-container">

      <div class="grid-x">
        <!-- Navigation buttons -->
        <p class="div-admin-navigation small-12 medium-12">
          <a class="admin-navigation-button" href="<%- sails.config.custom.baseUrl %>a/task?o=m&taskId=<%- task.id %>"><%- locale.edit %></a>
          <a class="admin-navigation-button deactivate"><%- locale.task_delete %></a>
          <a href="<%- sails.config.custom.baseUrl %>a/task" class="admin-navigation-button"><%- locale.back %></a>
        </p>
        <!-- End of navigation buttons -->
      </div>
      <div class="grid-x">

        <!-- Type: code -->
        <% if (task.type == 'code') { %>
          <!-- Question description -->
          <div id="div-problem-description" class="cell small-12 medium-8 medium-offset-2">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
            </div>
          </div>
          <!-- End of question description -->

          <!-- Coding panel -->
          <div id="div-question-items" class="cell small-12 medium-8 medium-offset-2">
            <!-- Editor panel -->
            <div id="editor">

            </div>
            <!-- End of editor panel -->
          </div>
          <!-- End of coding panel -->
        <% } %>
        <!-- End of type: code -->

        <!-- Type: answer -->
        <% if (task.type == 'answer') { %>
          <!-- Question description -->
          <div id="div-problem-description" class="cell small-12 medium-8 medium-offset-2">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
              <% if (task.code_display.trim() != '') { %>
                <textarea class="code-input" readonly><%- task.code_display %></textarea>
              <% } %>
            </div>
          </div>
          <!-- End of question description -->

          <!-- Question items -->
          <div id="div-question-items" class="cell small-12 medium-8 medium-offset-2">
            <form>
              <% for (var i = 0; i < task.question_texts.length; i++) { %>
                <label><%- task.question_texts[i] %></label>
                <% var choices = task.question_choices[i]; %>
                <% if (choices == 'free') { %>
                  <input type="text" name="response[<%- i %>]" value="" required />
                <% } else { %>
                  <fieldset class="large-5 cell">
                    <% for (var j = 0; j < choices.length; j++) { %>
                      <input type="radio" value="<%- choices[j] %>" name="response[<%- i %>]" required><label for="response[<%- i %>]"><%- choices[j] %></label>
                    <% } %>
                  </fieldset>
                <% } %>
              <% } %>
            </form>
          </div>
          <!-- End of question items -->
        <% } %>
        <!-- End of type: answer -->

        <!-- Type: function -->
        <% if (task.type == 'function') { %>
          <!-- Problem description -->
          <div id="div-problem-description" class="cell small-12 medium-4">
            <h5 id="task-description-text"><%- task.title %></h5>
            <div id="div-task-panel">
              <p><%- task.specification %></p>
              <% task.sample_io_to_display = Math.min(task.sample_io_outputs.length, task.sample_io_to_display) %>
              <% if (task.sample_io_to_display != 0) { %>
                <p class="subheading"><%- locale.sample_io %></p>
                <ul>
                  <% for (var i = 0; i < task.sample_io_to_display; i++) { %>
                    <li>
                      <% for (var j = 0; j < task.sample_io_inputs[i].length; j++) { %>
                        <span class="code"><%- task.argument_names[j] %> = <%- task.sample_io_inputs[i][j] %></span>
                        <% if (j != task.sample_io_inputs[i].length - 1) { %>,<% } %>
                      <% } %>
                      <br />
                      <% if (task.return_type != 'void') { %>
                        <%- locale.output %>:
                      <% } else { %>
                        <%- locale.after_calling %> <span class="code"><%- task.for_void %> = </span>
                      <% } %>
                      <span class="code"><%- task.sample_io_outputs[i] %></span>
                    </li>
                  <% } %>
                </ul>
              <% } %>
            </div>
          </div>
          <!-- End of problem description -->

          <!-- Coding panel -->
          <div id="div-coding-panel" class="cell small-12 medium-8">
            <!-- Editor panel -->
            <pre class="code template"><%- task.return_type %> <%- task.function_name %>(<% for (var i = 0; i < task.argument_names.length; i++) { %><%- task.argument_types[i] %> <%- task.argument_names[i] %><% if (i != task.argument_names.length - 1) { %>, <% } %><% } %>) {</pre>
            <div id="editor">

            </div>
            <pre class="code template">}</pre>
            <!-- End of editor panel -->
          </div>
          <!-- End of coding panel -->
        <% } %>
        <!-- End of type: function -->


      </div>
    </div>

    <!-- JQuery script -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<!-- End of JQuery script -->

    <!-- Autosize script -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <!-- End of autosize script -->

    <!-- Application scripts -->
    <script>
      document.editor = CodeMirror(document.getElementById('editor'), {
        mode: 'text/x-java',
        lineNumbers: true,
        theme: 'base16-light'
      });
      function lockEditor() {
        document.editor.setOption('readOnly', true);
        $('.CodeMirror').addClass('locked');
      }
      function unlockEditor() {
        document.editor.setOption('readOnly', false);
        $('.CodeMirror').removeClass('locked');
      }
      $(document).ready(function() {
        <% if (task.type == 'code' || task.type == 'function') { %>
          document.editor.setValue(`<%- task.default_code %>`)
        <% } %>
        autosize(document.querySelector(".code-input"));
        $('input[type="text"]').prop('readonly', true);
        $('input[type="radio"]').attr('disabled', true);
        lockEditor();
        function htmlEntities(str) {
          return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }
        $(".deactivate").on('click', function() {
          var res = confirm("<%- locale.task_delete_confirm %>");
          if (res) {
            var target = '<%- task.id %>';
            $.post ('<%- sails.config.custom.baseUrl %>a/task/delete',
              {
                taskId: target
              },
              function(data) {
                if (data.result == 'success') {
                  window.location.href = '<%- sails.config.custom.baseUrl %>a/task';
                }
                else {
                  alert('<%- locale.error_occurred %>')
                }
              },
              'json'
            );

          }
        });
      });

      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted ||
                               ( typeof window.performance != "undefined" &&
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      });
    </script>
    <!-- End of application scripts -->
  </body>
</html>
