<!DOCTYPE HTML>
<html>
  <head>
    <%- partial("../partials/head.ejs") %>
    <meta http-equiv="Pragma" content="no-cache">
  </head>
  <body>
    <%
      //*** This code is copyright 2002-2016 by Gavin Kistner, !@phrogz.net
      //*** It is covered under the license viewable at http://phrogz.net/JS/_ReuseLicense.txt
      //*** Reuse or modification is free provided you abide by the terms of that license.
      //*** (Including the first two lines above in your source code satisfies the conditions.)

      // Include this code (with notice above ;) in your library; read below for how to use it.

      Date.prototype.customFormat = function(formatString){
      var YYYY,YY,MMMM,MMM,MM,M,DDDD,DDD,DD,D,hhhh,hhh,hh,h,mm,m,ss,s,ampm,AMPM,dMod,th;
      var dateObject = this;
      YY = ((YYYY=dateObject.getFullYear())+"").slice(-2);
      MM = (M=dateObject.getMonth()+1)<10?('0'+M):M;
      MMM = (MMMM=["January","February","March","April","May","June","July","August","September","October","November","December"][M-1]).substring(0,3);
      DD = (D=dateObject.getDate())<10?('0'+D):D;
      DDD = (DDDD=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][dateObject.getDay()]).substring(0,3);
      th=(D>=10&&D<=20)?'th':((dMod=D%10)==1)?'st':(dMod==2)?'nd':(dMod==3)?'rd':'th';
      formatString = formatString.replace("#YYYY#",YYYY).replace("#YY#",YY).replace("#MMMM#",MMMM).replace("#MMM#",MMM).replace("#MM#",MM).replace("#M#",M).replace("#DDDD#",DDDD).replace("#DDD#",DDD).replace("#DD#",DD).replace("#D#",D).replace("#th#",th);

      h=(hhh=dateObject.getHours());
      if (h==0) h=24;
      if (h>12) h-=12;
      hh = h<10?('0'+h):h;
      hhhh = hhh<10?('0'+hhh):hhh;
      AMPM=(ampm=hhh<12?'am':'pm').toUpperCase();
      mm=(m=dateObject.getMinutes())<10?('0'+m):m;
      ss=(s=dateObject.getSeconds())<10?('0'+s):s;
      return formatString.replace("#hhhh#",hhhh).replace("#hhh#",hhh).replace("#hh#",hh).replace("#h#",h).replace("#mm#",mm).replace("#m#",m).replace("#ss#",ss).replace("#s#",s).replace("#ampm#",ampm).replace("#AMPM#",AMPM);
      }
    %>

    <!-- Top bar -->
    <div id="top-bar" class="top-bar">
      <div class="top-bar-left">
        <p id="top-bar-account"><%- locale.professor %></p>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>a'><%- locale.admin_menu %></a></li>
          <li><a class='menu-link' href='<%- sails.config.custom.baseUrl %>logout'><%- locale.log_out_topbar %></a></li>
        </ul>
      </div>
    </div>
    <!-- End of top bar -->

    <div class="grid-container">
      <div class="grid-x">
        <!-- Main container -->
        <div class="cell small-12 medium-10 medium-offset-1">
          <!-- Navigation buttons -->
          <p class="div-admin-navigation">
            <a href="<%- sails.config.custom.baseUrl %>a/task?o=a" class="admin-navigation-button"><%- locale.task_add_button %></a>
          </p>
          <!-- End of navigation buttons -->
          <!-- Heading -->
          <h4 class="page-heading text-center"><%- locale.task_header %></h4>
          <!-- End of heading -->
          <div class="filters">
            <div class="grid-x">
              <div class="cell small-12 medium-6">
                <div class="filter-text">
                  <% if (pastVisible) { %>
                    <p class="past-visible-status visible"><%- locale.past_visible %><a class="past-visible-toggle"><%- locale.toggle_past_visible %></a></p>

                  <% } else { %>
                    <p class="past-visible-status notvisible"><%- locale.past_not_visible %><a class="past-visible-toggle"><%- locale.toggle_past_visible %></a></p>

                  <% } %>
                  <input type="text" id="filter-input" placeholder="<%- locale.search %>"></input>

                </div>
              </div>
              <div class="cell small-12 medium-6">
                <div class="filter-buttons">

                </div>
              </div>
            </div>
          </div>
          <div id="page-table"></div>
        </div>
      </div>
    </div>

    <!-- JQuery script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- End of JQuery script -->

    <!-- Tabulator script -->
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/tabulator.min.js"></script>
    <script type="text/javascript" src="<%- sails.config.custom.baseUrl %>js/moment.js"></script>
    <!-- End of tabulator script -->

    <!-- Application scripts -->
    <script>
      var currentQueryFilter = null;

      $(document).ready(function() {
        $('.past-visible-toggle').on('click', function() {
          $.post ('<%- sails.config.custom.baseUrl %>a/task/pasttoggle',
            {

            },
            function(data) {
              if (data.result == 'success') {
                location.reload();
              }
            },
            'json'
          );
        })

        $(".deactivate").on('click', function() {
          var res = confirm("<%- locale.task_delete_confirm %>");
          if (res) {
            var target = $(this).closest('td').find('span.hide').text();
            var form = $('<form method="POST" action="<%- sails.config.custom.baseUrl %>a/task/delete">' +
              '<input type="hidden" name="taskId" value="' + target + '" />' +
              '</form>');
            $(document.body).append(form);
            form.submit();
          }
        });
        $(".toggle").on('click', function() {
          var res = confirm("<%- locale.task_toggle_confirm %>");
          if (res) {
            var target = $(this).closest('td').find('span.hide').text();
            var form = $('<form method="POST" action="<%- sails.config.custom.baseUrl %>a/task/toggle">' +
              '<input type="hidden" name="taskId" value="' + target + '" />' +
              '</form>');
            $(document.body).append(form);
            form.submit();
          }
        });

        var tableData = [
          <% for (var i = 0; i < tasks.length; i++) { %>
            {
              id: '<%- tasks[i].id %>',
              title: '<%- tasks[i].title %>',
              live: '<%- tasks[i].live %>',
              createdAt:'<%- tasks[i].createdAt? new Date(tasks[i].createdAt).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#') : new Date(0).customFormat('#hhhh#:#mm# - #MM#/#DD#/#YY#'); %>',
            },
          <% } %>
        ]

        var table = new Tabulator('#page-table', {
          index: 'id',
          data: tableData,
          height:($(window).height() - 270),
          layout: 'fitColumns',
          rowFormatter:function(row){
            var data = row.getData();
            if(data.live == 'yes'){
              row.getElement().style.background = '#ebff99';
            }
            else {
              row.getElement().style.background = null;
            }
          },
          columns:[
          {title:'<%- locale.task_id %>', field:'id', visible: false},
          {title:'<%- locale.time_created %>', field:'createdAt', sorter: 'datetime', width: 150},
          {title:'<%- locale.task_title %>', field:'title', widthGrow: 1},
          {title:'<%- locale.task_live %>', field:'live', width: 115, align: 'center'},
          {title:'<%- locale.active_inactive %>', width: 140, headerSort: false, align: 'center',
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.task_toggle_live %></a>');
              button.on('click', function() {
                var target = cell._cell.row.data.id;
                var live = cell._cell.row.data.live;
                $.post ('<%- sails.config.custom.baseUrl %>a/task/toggle',
                  {
                    taskId: target
                  },
                  function(data) {
                    if (data.result == 'success') {
                      table.updateData([{id: target, live: live == 'yes' ? 'no' : 'yes'}]);
                    }
                    else {
                      alert('<%- locale.error_occurred %>')
                    }
                  },
                  'json'
                );
              });
              return button.get(0);
            }
          },
          {title:'', width: 60, headerSort: false, align: 'center',
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.view %></a>');
              button.on('click', function() {
                var id = cell._cell.row.data.id;
                window.location.href = '<%- sails.config.custom.baseUrl %>a/task?o=e&taskId=' + id;
              });
              return button.get(0);
            }
          },
          {title:'', width: 60, headerSort: false, align: 'center',
            formatter: function(cell, formatterParams, onRendered) {
              var button = $('<a class="action-button"><%- locale.task_delete %></a>');
              button.on('click', function() {
                var res = confirm("<%- locale.task_delete_confirm %>");
                if (res) {
                  var target = cell._cell.row.data.id;
                  $.post ('<%- sails.config.custom.baseUrl %>a/task/delete',
                    {
                      taskId: target
                    },
                    function(data) {
                      if (data.result == 'success') {
                        table.deleteRow(target);
                      }
                      else {
                        alert('<%- locale.error_occurred %>')
                      }
                    },
                    'json'
                  );
                }
              });
              return button.get(0);
            }
          }
          ],
        });

        function updateFilter() {
          table.clearFilter();
          if (currentQueryFilter != null) {
            table.addFilter([[{field: 'title', type: 'like', value: currentQueryFilter}]]);
          }
        }

        $('#filter-input').on('input', function() {
          currentQueryFilter = $(this).val();
          updateFilter();
        })

      });

      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted ||
                               ( typeof window.performance != "undefined" &&
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      });
    </script>
    <!-- End of application scripts -->
  </body>
</html>
